.tabla {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border: none;
}

th, td {
    padding: 20px;
    text-align: center;
}

th {
    letter-spacing: 2px;
}

td {
    letter-spacing: 1px;
}

thead {
    border-bottom: 3px solid #393C49;
}

/* Configuración general para tbody */
tbody {
    display: block; /* Permite scroll solo en el cuerpo */
    max-height: 400px; /* Ajusta la altura máxima visible del tbody */
    overflow-y: auto; /* Habilita el scroll en las filas del cuerpo */
    overflow-x: hidden;
    width: 100%;
}

/* Ajustar filas para el ancho completo y layout de tabla */
tr {
    display: table; /* Mantiene la estructura de fila */
    width: 100%; /* Asegura que las filas ocupen todo el ancho */
    table-layout: fixed; /* Asegura alineación correcta de columnas */
}

/* Personalización del scroll */
tbody::-webkit-scrollbar {
    width: 8px;
}

tbody::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

tbody::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

tbody::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}


.textoTablaVacia{
    text-align: center;
    padding: 34px;
}