.tabla {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border: none;
}

th, td {
    padding: 20px;
    text-align: center;
}

th {
    letter-spacing: 2px;
}

td {
    letter-spacing: 1px;
}

thead {
    border-bottom: 3px solid #393C49;
}

/* Configuración general para tbody */
tbody {
    display: block; /* Permite scroll solo en el cuerpo */
    max-height: 400px; /* Ajusta la altura máxima visible del tbody */
    overflow-y: auto; /* Habilita el scroll en las filas del cuerpo */
    overflow-x: hidden;
    width: 100%;
}

/* Ajustar filas para el ancho completo y layout de tabla */
tr {
    display: table; /* Mantiene la estructura de fila */
    width: 100%; /* Asegura que las filas ocupen todo el ancho */
    table-layout: fixed; /* Asegura alineación correcta de columnas */
}

/* Personalización del scroll */
tbody::-webkit-scrollbar {
    width: 8px;
}

tbody::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

tbody::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

tbody::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}


.textoTablaVacia{
    text-align: center;
    padding: 34px;
}

/* Contenedor general para la barra y el texto */
.progress-bar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

/* La barra completa con el fondo */
.full-progress-bar {
    width: 45%; /* Ajusta este valor para controlar el ancho de la barra */
    background-color: #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    height: 20px; /* Altura de la barra */
    position: relative;
}

/* La barra de progreso que muestra el porcentaje */
.progress-bar {
    background-color: #f5a623; /* Color de la barra de progreso (ajusta según tu diseño) */
    height: 100%;
    width: 0; /* Este valor cambiará dinámicamente */
    transition: width 0.5s ease-in-out; /* Animación suave para la barra */
    border-radius: 8px; /* Asegura bordes redondeados */
}

/* Texto del porcentaje a la derecha */
.progress-bar-container span {
    width: 40%; /* Ajusta este valor si es necesario */
    text-align: right;
    font-size: 14px;
    color: white; /* Ajusta el color del texto si es necesario */
    padding-left: 10px; /* Espacio entre la barra y el texto */
}
