
.new_user__container{
    display: flex;
    justify-content: right;
    
}
.addUser{
    width: 20%;
}

.tabla_users{
    max-height: 60vh;
}

.new_categoria__button{
    width: 30%;
}

.conf_usuarios__container{
    height: 80vh;
    padding: 0 20px;
}


.container__conf_table{
    max-height: 580px;
}