.main_content {
    width: 100%;
    height: 100vh; /* Se mantiene en vista completa */
    display: flex;
    gap: 5%;
    padding: 18px 0;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%; /* Ocupa toda la altura de su contenedor */
    width: 100%;
    padding: 3%;
    gap: 1rem;
}

.contenido {
    width: 100%;
    display: flex;
    flex-grow: 1; /* Expande para ocupar espacio disponible */
    flex-direction: column; 
    gap: 3%;
}

.registro_tabla {
    height: 80vh; /* Asignamos altura relativa a la ventana */
    padding: 0 20px;
    display: flex; /* Usamos flex para manejar alturas internas */
    flex-direction: column;
}

.table-container__registro {
    flex-grow: 1; /* Expande dentro de su contenedor padre */
    overflow: hidden; /* Ocultamos el desbordamiento */
}

.container__registro {
    height: 100%; /* Asegura que la altura es 100% de su contenedor padre */
}

.table-container {
    height: 100%; /* Mantiene la altura completa disponible */
    overflow-y: auto; /* Permite desplazamiento vertical en el contenedor */
    display: flex;
    flex-direction: column; /* Necesario para ajustar alturas de hijos */
}

.table-container tbody {
    flex-grow: 1; /* Se expande dentro de su contenedor */
    max-height: 65vh; /* Ajuste en porcentaje de la altura del contenedor */
    overflow-y: auto; /* Permite scroll interno */
}

/* Ajustes adicionales */
thead {
    flex-shrink: 0; /* Mantiene la altura del encabezado fija */
}

tr {
    display: table; /* Mantiene la estructura de fila */
    width: 100%; /* Asegura alineación correcta */
    table-layout: fixed;
}

.img-plato {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}

nav[data-pagination] {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

nav[data-pagination] ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 10px;

}

nav[data-pagination] li {
    margin: 5px;
}

nav[data-pagination] li:hover {
    color: var(--primario);
}

nav[data-pagination] a {
    text-decoration: none;
    color: inherit;
}

nav[data-pagination] .disabled {
    pointer-events: none;
    opacity: 0.5;
}

nav[data-pagination] .current a {
    padding: 10px;
    font-weight: bold;
    text-decoration: underline;
    background-color: var(--background1);
    border-radius: 4px;
}


