.background_login{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_container{
    display: grid;
    grid-template-rows: repeat(3, 1fr); 
    /*grid-template-rows: 1fr 2fr 1fr;*/
    gap: 10px; 
    width: 35vw;
    height: 60vh; 
}
.form_login{
    display: flex;
    justify-content: center;

}