
.background_dashboard {
    display: flex;
}

.logo_sidebar>img{
    width: 45px;
    padding-bottom: 40px;
}


.sidebar {
    width: 80px; /* Ancho fijo del sidebar *//* Fondo del sidebar */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background2);
    height: 100vh;
}

.sidebar_list {
    display: flex;
    flex-direction: column; /* Organiza los ítems en columna */
    flex-grow: 1; /* Permite que la lista crezca para ocupar espacio */
    padding: 0;
    margin: 0;
    width: 100%;
}

.sidebar_item {
    width: 100%;
    display: flex;
    justify-content: center;
    transition: all 0.3s ease; /* Suaviza la animación */
    position: relative; /* Para permitir transformaciones */
    background-color: var(--background1);

}
.sidebar_item:last-child {
    margin-top: auto; /* Empuja el último ítem al final */
}
.sidebar_item.prev .icon_wraper{

    border-radius: 0 0 12px 0 ;

}

.sidebar_item.active{

    background-color: var(--background2);

}

.sidebar_item.next .icon_wraper{

    border-radius: 0 12px 0 0 ;


}


.svg_container {
    width: 100%; /* Tamaño estándar */
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    transition: all 0.3s ease; /* Transición para cambios de tamaño y fondo */
}

.icon_wraper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease; /* Transición suave para la animación */
    background-color: #1e1e2d; 
}

.sidebar_item.active .svg_container {
    width: 70px; /* Aumenta el ancho del contenedor del icono */
    height: 60px; /* Aumenta la altura */
    background-color: var(--background1); /* Aplica el fondo claro */
    border-radius: 12px; /* Bordes redondeados */
    padding-left: 10px; /* Añade espacio a la izquierda */
}

.icon_wraper.icon_selected {
    width: 45px; /* Ajusta el tamaño */
    height: 45px;
    background-color: var(--primario); /* Aplica el fondo para el ítem seleccionado */
    border-radius: var(--border_radius);
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 24px; /* Tamaño uniforme para los iconos */
    height: 24px;
    fill: currentColor; /* Asegúrate de usar currentColor para controlar el color desde CSS */
}

.sidebar_item.active .icon, 
.sidebar_item.active .icon path {
    color: #ffffff; /* Cambia el color del SVG a blanco cuando el ítem está activo */
    fill: #ffffff; /* Asegúrate de que el <path> también adopte el color blanco */
}

.svg_container:hover {
    background-color: #27293d; /* Fondo al pasar el cursor */
}

.sidebar_item:focus-within .svg_container,
.sidebar_item.active .svg_container {
    transform: translateX(14px); /* Expande hacia la derecha */
}