@import url(Assets/Buttons.css);
@import url(Assets/fonts.css);
@import url(Assets/sidebar.css);
@import url(Assets/tabla.css);
@import url(Assets/nav.css);
:root {
    --background1: #242533;
    --background2: #1F1D2B;
    --primario: #FACE8D;
    --primario-rgb: 250, 206, 141;
    --secundario:#081212;
    --terciario: #130A0A;
    --blanco: #fff;
    --disabled: rgba(255, 255, 255, 0.8);
    --font_difuso: #ABBBC2;

    --border_radius:15px;

    --fuente-primaria: 'Poppins', sans-serif; /* Para encabezados */
    --fuente-secundaria: 'Roboto', sans-serif; /* Para cuerpo y botones */
    
    /* Headers */
    --fuente-header-h1: 28px;
    --fuente-header-h1-weight: 700; /* Ejemplo de peso para H1 */
    
    --fuente-header-h2: 20px;
    --fuente-header-h2-weight: 600; /* Ejemplo de peso para H2 */

    /* Body */
    --fuente-body-small-regular: 12px;
    --fuente-body-small-regular-weight: 400; /* Regular */
    
    --fuente-body-small-medium: 12px;
    --fuente-body-small-medium-weight: 500; /* Medium */
    
    --fuente-body-normal-regular: 16px;
    --fuente-body-normal-regular-weight: 400; /* Regular */
    
    --fuente-body-normal-medium: 16px;
    --fuente-body-normal-medium-weight: 500; /* Medium */
    
    --fuente-body-normal-semibold: 16px;
    --fuente-body-normal-semibold-weight: 600; /* Semibold */
    
    --fuente-body-large-regular: 16px;
    --fuente-body-large-regular-weight: 400; /* Regular */
    
    --fuente-body-large-medium: 16px;
    --fuente-body-large-medium-weight: 500; /* Medium */
    
    --fuente-body-large-semibold: 16px;
    --fuente-body-large-semibold-weight: 600; /* Semibold */

    /* Buttons */
    --fuente-button-normal-semibold: 14px;
    --fuente-button-normal-semibold-weight: 600; /* Semibold */
    
    --fuente-button-small-semibold: 12px;
    --fuente-button-small-semibold-weight: 600; /* Semibold */
}


body {
    font-family: var(--fuente-secundaria); /* Fuente predeterminada para el cuerpo */
    color: #fff; /* Ajusta el color de texto según tu tema */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.background1{
    background-color: var(--background1);
    width: 100%;
    height: 100vh;
}
.background2{
    background-color: var(--background2);
    border-radius: var(--border_radius);
}

.content{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
    padding-left: 5%;
    gap: 1rem;
}
.main_container__header{
    padding: 30px 10px 20px 20px ;
}

.main_content__config{
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 5%;
    padding: 18px 0;

}
.content__config{ 

    height: 96vh;
    padding-top: 6%;
}


.img_container{
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo_login>img{
    width: 100px;
}

/* Inputs*/
.form_input{
    display: flex;
    flex-direction: column;

}
.form_input>input,select,textarea{
    width: 100%;
    padding: 12px 16px;
    margin: 10px 0;
    font-size: 16px;
    color: var(--blanco); 
    background-color: var(--secundario); 
    border: 2px solid #333; 
    border-radius: 8px; 
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5); 
    outline: none; 
    transition: all 0.3s ease; 
}


.form_input>label{
    color: var(--blanco);
}

input::placeholder {
    color: #999; /* Color del placeholder */
}

input:focus {
    border-color: var(--primario); /* Color del borde en foco para destacar */
    box-shadow: 0 0 10px rgba(250, 206, 141, 0.5); /* Sombra suave en foco */
    background-color: #2a2837; /* Ajuste de fondo en foco */
}
.selec_time{
    width: 35%;
    background-color: var(--background2);
    box-shadow: none;
}

.textDefault{
    color: var(--font_difuso);
    padding: 15px 0;
}
   
/*Scroll*/


.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
