
.tabla{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border: none;
}
.table-container {
    max-height: 450px; 
    overflow-y: auto;  
}
.table-container::-webkit-scrollbar {
    width: 8px; 
}

.table-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px; 
}

.table-container::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 10px; 
}

.table-container::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}

th {
    letter-spacing: 2px;
}
  
td {
    letter-spacing: 1px;
}
  
tbody td {
    text-align: center;
}
  
tfoot th {
    text-align: right;
}
th,
td {
padding: 20px;
}

thead {
    border-bottom: 3px solid #393C49;
}